body{
	font-family: Helvetica, sans-serif;
}
a:link, a:visited{
	color: red;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#wrap{
	width: 80%;
	margin: auto;
	background: #e3e3e3;
	padding: 1%;
}
header nav ul{
	list-style: none;
	padding-left: 0%;
}
header nav ul li{
		display: inline-block;
		margin-right: 1%;
}
header nav ul li a{
	font-size: 18px;
}
#content{
	float: left;
	width: 70%;
}
#sidebar{
	float: right;
	width: 30%;
}
#sidebar ul{
	list-style: none;
}
footer{
	clear: both;
}
label, input[type=submit],textarea{
	display: block;
	margin: 1%;
}
textarea{
	width: 300px;
	height: 80px;

}
input[type=submit]{
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
}
input[type="submit"]:hover{
	background: red;
}
